<div class="main-body-container">
  <div class="main-body">
    <div class="main-body-content">

      <div class="news">
        <div class="news-left">
          <div class="blog">
            <div class="items-leading">

              <% @stories.each do |stories| %>
                <h1><%= stories.title %></h1><br>
                <p><%= truncate stories.news, length: 494 %></p>
                <span class="read-more">
                  <span class="arrow-icon"></span>
                  <%= link_to 'Read Full Story', stories %> 
                </span><br><br>
              <% end %>
              <br />
            </div>
          </div>
        </div>
      </div>
      
      </div>
  </div>
</div>
<div class="footer-container">
  <div class="footer">
    <div class="footer-content">
      <div class="footer-content-complete">
        <h4>Footer info?</h4>	
      </div>
    </div>
  </div>
</div>
<!--Footer-End-->
</body>
