<div class="main-body-container">
  <div class="main-body">

    <div class="main-body-content">
      welcome <%= current_user.name %>

    </div></div></div> 
<!--Main-Body-End-->

<!--Footer-Start-->
<div class="footer-container">
  <div class="footer">
    <div class="footer-content">
      <div class="footer-content-complete">
        <div class="moduletable">


          <div class="custom"  >
            <h4>Footer </h4></div>
        </div>

      </div>
    </div>
  </div>
</div>
<!--Footer-End-->

</body>
</html>
